name: Cypress Multi-Environment Tests

on:
  workflow_dispatch: # allows manual run from Actions tab
  schedule:
    # Every day at 7:00 AM IST (1:30 AM UTC)
    - cron: '30 1 * * *'
    
jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm ci

      # - name: Run Cypress Tests for ${{ matrix.environment }} Environment
      #   run: npm run ${{ matrix.environment }}:run

      - name: Run Cypress Tests for QA Environment
        run: npm run qa:run --spec "cypress/e2e/order-review.cy.ts"


      # Optional: upload artifacts for failed runs
      - name: Upload Cypress Artifacts (Videos & Screenshots)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-artifacts-${{ matrix.environment }}
          path: |
            cypress/videos
            cypress/screenshots
