name: Cypress QA-Environment Tests

on:
  workflow_dispatch: # allows manual run from Actions tab
  schedule:
    # Every day at 7:00 AM IST (1:30 AM UTC)
    - cron: '30 1 * * *'

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: KloudShip.Automation.Cypress.ECSLite  #All steps will execute from repo root

    steps:
      # Checkout repository (mandatory)
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # Install dependencies from your existing package.json
      - name: Install Dependencies
        run: | 
          npm init
          npm install ts-node typescript --save-dev

      # Run Cypress test for QA environment
      - name: Run Cypress Test
        run: npx cypress run --env ENV=qa --spec "cypress/e2e/order/order-review.cy.ts"

      # Upload artifacts only if test fails
      - name: Upload Cypress Artifacts (Videos & Screenshots)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-artifacts-qa
          path: |
            cypress/videos
            cypress/screenshots
